@page
@model FunOlympic1.Pages.Videos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    .h2 {
        font-size: 30px;
        font-family: 'EB Garamond';
        font-weight: bold;
    }

    .card {
        padding: 10px;
    }
    .input{
        border: 2px solid #4e9372;
    }
</style>
<div class="container">
<h1 class="h2">Edit Video</h1>


<div class="row">
    <div class="col-md-6">
            <div class="card">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Video.VideoID" />
            <div class="form-group">
                <label asp-for="Video.VideoTitle" class="control-label"></label>
                <input asp-for="Video.VideoTitle" class="form-control input" />
                <span asp-validation-for="Video.VideoTitle" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Video.VideoLink" class="control-label"></label>
                <input asp-for="Video.VideoLink" class="form-control input" />
                <span asp-validation-for="Video.VideoLink" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Video.ThumbnailLink" class="control-label"></label>
                <input asp-for="Video.ThumbnailLink" class="form-control input" />
                <span asp-validation-for="Video.ThumbnailLink" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Video.Category" class="control-label"></label>
                <input asp-for="Video.Category" class="form-control input" />
                <span asp-validation-for="Video.Category" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Video.PublishDate" class="control-label"></label>
                <input asp-for="Video.PublishDate" class="form-control input" />
                <span asp-validation-for="Video.PublishDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Video.VideoDescription" class="control-label"></label>
                <input asp-for="Video.VideoDescription" class="form-control input" />
                <span asp-validation-for="Video.VideoDescription" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
   
</div>
        <div class="col-md-4">
            <div class="card">
                <a asp-page="./Index" class="btn btn-danger"><i class="bi bi-arrow-return-left"></i> Back to List</a>
            </div>
        </div>
</div>
   

</div>
<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
